*{
    margin: 0;
    padding: 0;
    border: 0;
}
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 80px;
    right: 30px;
    background: #0df053;
    color: #ffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.btn-wsp:hover{
    transform: scale(1.1);
    transition: 0.3s;
    text-decoration: none;
    color: #0df053;
    background: #ffff;
}
@keyframes efecto {
    0%{
        box-shadow: 0 0 0 0 rgba(66, 230, 120, 0.85);   
    }
    100%{
        box-shadow: 0 0 0 20px rgba(0,0,0,0);
    }
}